.episode {
  &__container {
    max-width: 50%;
    height: max-content;
    box-shadow: $box-shadow;
    padding: 1rem;

    p {
      font-style: italic;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  &__description {
    font-style: italic;
    font-weight: 300;
  }

  &__player {
    margin-top: 1rem;
    width: 100%;
  }
}
