@import "tokens.scss";
@import "../pages/home/";
@import "../components/header";
@import "../components/layout";
@import "../components/input-search/";
@import "../pages/podcast-detail/";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 500;
  font-size: 1rem;

  color-scheme: dark light;
  background-color: $color-primary-light;
  color: $color-primary-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: $color-secondary;
  text-decoration: none;
}

a:hover {
  color: $color-secondary-action;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 0;
}
