.detail__container {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.detail-episodes__container {
  max-width: 70%;
}

.detail-episodes {
  &__number {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    box-shadow: $box-shadow;
    padding: 8px;
  }
  &__table {
    color: $color-primary-dark;
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    box-shadow: $box-shadow;
    border-collapse: separate;
    border-spacing: 0;
    &-cell,
    &-header {
      padding: 8px 15px;
      border-bottom: 1px solid rgba($color-secondary-dark, 0.3);
      text-align: justify;
    }
    &-row:nth-child(odd) {
      background-color: rgba($color-secondary-dark, 0.1);
    }
    &-cell--duration {
      text-align: center;
    }
  }
}
