.input__container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  gap: 0.5rem;

  &--input {
    background-color: $color-primary-light;
    color: $color-primary-dark;
    min-width: 250px;
    font-size: 0.75rem;
    padding: 0.5rem;
    border: 1px solid rgba($color-secondary-dark, 0.3);
    border-radius: 5px;
  }

  &--counter {
    background-color: $color-secondary;
    color: $color-primary-light;
    font-weight: 700;
    padding: 0.25rem;
    border-radius: 0.3125rem;
  }
}

.podcasts__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.podcast__card {
  position: relative;
  text-align: center;
  color: $color-primary-dark;
  box-shadow: $box-shadow;
  margin: 2.5rem 0;
  min-height: 150px;
  cursor: pointer;

  &--image {
    border-radius: 5rem;
    width: 80px;
    height: 80px;
    margin-top: -2.5rem;
  }

  &--title {
    text-transform: uppercase;
    font-size: 0.9375rem;
  }

  &--author {
    font-size: 0.75rem;
    color: $color-secondary-dark;
  }
}
